<!DOCTYPE html>
<html class="fixed" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="template :: head">
</head>
<head><title> User Profile Page</title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">
</head>
<body>
<!-- start: page -->
<section class="body-sign">
    <div class="center-sign">
        <a href="/" class="logo pull-left">
            <img src="assets/images/logo.png" height="54" alt="Porto Admin" />
        </a>

        <div class="panel panel-sign">
            <div class="panel-title-sign mt-xl text-right">
                <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Recover Password</h2>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    <p class="m-none text-semibold h6">Enter your e-mail below and we will send you reset instructions!</p>
                </div>

                <form th:action="@{/reset-password}" th:object="${user}" method="post" onsubmit="return resetValidation();">
                    <div class="form-group mb-none">
                        <div class="input-group">
                            <input th:field="*{mail}" name="email" type="email" placeholder="E-mail" class="form-control input-lg" id="recover-mail"/>
                            <span class="input-group-btn">
                                <button type="submit"class="btn btn-primary btn-lg" >Reset!</button>
                            </span>
                        </div>
                        <div class="validation-error">
                            <span id="validation-pwd-recover" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" class="error-message center" th:utext="${validation}" ></span>
                            <p class="m-none text-semibold h6 center " th:utext="${validation}"></p>
                        </div>
                    </div>

                    <p class="text-center mt-lg">Remembered? <a th:href="@{/login}">Signing In!</a>
                </form>
            </div>
        </div>

        <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2020. Project by Invoice</p>
    </div>
</section>
<!-- end: page -->

<div th:include="template :: javascript-botom"></div>
<script src="assets/javascripts/forms/customRecoverPwdForm.js"></script>

</body>
</html>