<!DOCTYPE html>
<html class="fixed" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="template :: head">
</head>
<head><title> User Profile Page</title>
    <meta name="keywords" content="HTML5 Admin Template"/>
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">
</head>
<body class="body">
<header class="header" th:replace="template :: header"></header>

<div class="inner-wrapper">
    <aside id="sidebar-left" class="sidebar-left" th:replace="template :: sidebar"></aside>
    <section role="main" class="content-body">
        <header class="page-header">
            <h2>Edit / User Profile</h2>
            <div class="right-wrapper pull-right">
                <ol class="breadcrumbs">
                    <li>
                        <a href="index.html">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                    <li><span>Edit / User Profile</span></li>
                    <li><span>Section</span></li>
                </ol>
                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
            </div>
        </header>

    <!-- start: page -->
        <div class="col-lg-12">
         <section class="panel">
            <header class="panel-heading">
                <h4 class="panel-title text-center">Set mail properties</h4>
                <div class="panel-actions">
                    <a href="#" class="fa fa-caret-down"></a>
                    <a href="#" class="fa fa-times"></a>
                </div>

            </header>
            <div class="panel-body">
                <div class="row">
                    <form th:action = "@{/mail-properties}" th:object="${mailProperties}" method="post" onsubmit="return mailValidation();">

                        <div class="form-group">
                            <label class="col-md-3 control-label" >Hosting port</label>
                            <div class="col-md-6">
                                <input th:field="*{port}" type="text" class="form-control" placeholder="ex: 587" id = "hostinPort"/>
                                <p class="error-message" id="validation-port"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" >Smtp name ( mail server name )</label>
                            <div class="col-md-6">
                                <input th:field="*{smtp}" type="text" class="form-control" placeholder="Ex : smtp.gmail.com" id = "smtpName"/>
                                <p class="error-message" id="validation-smtp"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" >Hosting</label>
                            <div class="col-md-6">
                                <input th:field="*{host}" type="text" class="form-control" placeholder="Ex: smtp" id = "hosting"/>
                                <p class="error-message" id="validation-hosting"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" >Mail adress</label>
                            <div class="col-md-6">
                                <input th:field="*{from}" type="text" class="form-control" placeholder="ex: jordan@gmail.com" id = "mailAdress"/>
                                <span th:if="${#fields.hasErrors('from')}" th:errors="*{from}" class="error-message"></span>
                                <p class="error-message" id="validation-mailAdress"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" >Mail password</label>
                            <div class="col-md-6">
                                <input th:field="*{password}" type="password" class="form-control" placeholder="Password of your mail" id = "mailPassword"/>
                                <p class="error-message" id="validation-mailPwd"></p>
                            </div>
                        </div>
                        <button type="submit" class="margins btn btn-primary">Save</button>
                        <div class="row">
                            <p class="text-center  text-uppercase text-success success-message" th:utext="${mailPropValidation}"></p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        </div>
    <!-- end: page -->
    </section>
</div>

<div th:include="template :: javascript-botom"></div>
<script src="assets/javascripts/forms/customValidationCompany.js"></script>
</body>
</html>